/* Basic Reset */
body, h1, h2, button, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Light grey background */
    color: #333; /* Dark grey text */
    text-align: center;
    padding: 20px;
}

h1 {
    color: #ff4500; /* Orange */
    margin-bottom: 20px;
}

h2 {
    color: #ff4500; /* Orange */
    margin: 20px 0;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #ff6347; /* Tomato */
    color: #fff; /* White text */
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #ff4500; /* Darker orange */
    transform: scale(1.05);
}

#counts {
    margin-top: 20px;
}

/* Chart Container for better control */
#chart-container {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
}

#highscore {
    text-align: left;
    margin: 20px auto;
    max-width: 700px; /* Adjust as needed */
    background-color: #fff; /* White background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
}

.highscore-entry {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 8px 0;
}

.highscore-entry:last-child {
    border-bottom: none;
}

.rank {
    font-size: 20px;
    font-weight: bold;
    width: 30px;
}

.rank.rank-1 {
    color: gold;
}

.rank.rank-2 {
    color: silver;
}

.rank.rank-3 {
    color: bronze;
}

.rank-icon {
    margin-right: 10px;
}

.name {
    font-size: 18px;
    flex-grow: 1;
    padding: 0 10px;
}

.score {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347; /* Tomato */
    min-width: 50px;
    text-align: right;
}

#confirmation {
    color: #32cd32; /* Lime green */
    margin-top: 20px;
}

canvas {
    background-color: #fff; /* White background for the chart */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* Confetti animation container */
#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .buttons-container {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin: 10px 0;
    }

    #chart-container, #highscore {
        width: 100%;
        padding: 10px;
    }

    .highscore-entry {
        font-size: 0.9em;
    }
}
